html {
    scroll-behavior: smooth;
}

body {
    background-color: #393939;
    margin: 0 auto;
    width: 70vw;
    background-image: url("media/Blamev3_024_025.webp");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    overflow: auto;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #969696;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav li {
    list-style-type: none;
    border-radius: 0.1px;
    padding: 0.2em;
    font-size: 300%;
}

.ToTop {
    font-size: 2.5em;
    position: fixed;
    right: 15px;
    bottom: -100px;

    background-color: black;
    padding: 0;
    margin: 0;
    border-radius: 80%;
    transition: transform 1s ease-in-out
}

.topagraph {
    margin-top: 0%;
    margin-bottom: 0%;
}

.topheading {
    margin-top: 0%;
}

main {
    background-color: #393939;
    color: white;
}

ol {
    margin: 0%;
    background-color: #393939;
    color: white;
    font-size: 200%;
}

a{
    color: green;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: salmon;
}

.caveat-regular {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.caveat-medium {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.caveat-semibold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.caveat-bold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.bottom-paragraph {
    margin-bottom: 0%;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 300%;
    margin-left: 5%;
}

h2 {
    font-size: 250%;
    margin-left: 5%;
}

p {
    font-size: 200%;
    margin-left: 5%;
    margin-right: 5%
}

blockquote {
    font-size: 200%;
}

figcaption {
    font-size: 200%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px){ /*Tablet form factor*/
    h1 {
        font-size: 300%;
        margin-left: 5%;
        margin-right: 5%
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }

    body {
        background-color: #393939;
        margin: 0 auto;
        width: 90vw;
        background-image: url("media/Blamev3_024_025.webp");
        background-attachment: fixed;
        background-size: 100vw 100vh;
        overflow: auto;
    }
}

@media (max-width: 1024px) { /*Tablet form factor*/
    nav li {
        list-style-type: none;
        border-radius: 0.1px;
        padding: 0.2em;
        font-size: 400%;
    }
}

@media (max-width: 750px){ /*Mobile form factor*/
    nav li {
        list-style-type: none;
        border-radius: 0.1px;
        padding: 0.2em;
        font-size: 200%;
    }

    h1 {
        font-size: 150%;
    }
    
    h2 {
        font-size: 125%;
    }
    
    p {
        font-size: 100%;
    }

    figcaption {
        font-size: 100%;
    }

    blockquote {
        font-size: 100%;
    }

    ol {
        margin: 0%;
        background-color: #393939;
        color: white;
        font-size: 100%;
    }
}