body {
    background-color: #393939;
    margin: 0 auto;
    width: 70vw;
    background-image: url("media/Blamev3_024_025.webp");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    overflow: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #969696;
}

nav li {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 0.1px;
    padding: 0.2em;
}

main {
    background-color: #393939;
    color: white;
}


.caveat-regular {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.caveat-medium {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.caveat-semibold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.caveat-bold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}