.portfolio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: baseline;
    justify-content: center;
    align-content: center;
}

.h-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.1fr 0.5fr;
}

.u-photo {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: auto;
}

span {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 120%;
}

.bannerp {
    font-size: 200%;
}

video {
    width: 100%;
}

@media (max-width: 750px){
    .portfolio {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: baseline;
        justify-content: center;
        align-content: center;
    }

    .bannerp {
        font-size: 100%;
    }

    .h-card {
        display: grid;
        grid-template-columns: 1fr;
    }

    .u-photo {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: auto;
    }

    span {
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 120%;
    }
}