.portfolio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: baseline;
    justify-content: center;
    align-content: center;
}

.h-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.1fr 0.5fr;
}

.u-photo {
    grid-row-start: 1;
    grid-row-end: 3;
}

span {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 120%;
}

.p-name {
    margin: 0%;
}

.bannerp {
    font-size: 200%;
    margin: 0%;
}

video {
    width: 100%;
}

@media (max-width: 1024px){ /*Tablet form factor*/
    span {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 150%;
    }

    .u-photo {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .bannerp {
        font-size: 300%;
        margin: 0%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 750px){ /*Mobile form factor*/
    .portfolio {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: baseline;
        justify-content: center;
        align-content: center;
    }

    .h-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto
    }

    .bannerp {
        font-size: 150%;
    }

    span {
        font-size: 80%;
    }
}